c-car-tile{
   min-width: 200px;
    flex: 1;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
    background: #b4bdc5;
    border-radius: 10px;
}

.check{
    border-radius: 3px;
    color: magenta;
    background-color: turquoise;
}